In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the data
df = pd.read_csv('../data/biblometric/Overall.csv')

In [7]:
df = df.loc[df['Unnamed: 0'] == 'Dokuz Eylul University'].drop('Unnamed: 0', axis=1)

In [9]:
df = df.astype(float)

            0
2019-Q1  16.4
2019-Q2  21.5
2019-Q3  18.3
2019-Q4  20.8
2020-Q1  19.7
2020-Q2  21.4
2020-Q3  22.1
2020-Q4  22.5
2021-Q1  25.3
2021-Q2  25.6
2021-Q3  26.3
2021-Q4  26.8
2022-Q1  24.8
2022-Q2  24.9
2022-Q3  25.0
2022-Q4  26.8
2023-Q1  20.9
2023-Q2  20.7
2023-Q3  20.7
2023-Q4  21.1
2024-Q1  18.8
2024-Q2  18.4
2024-Q3  19.0
2024-Q4  19.2
2025-Q1  17.0
2025-Q2   NaN
2025-Q3   NaN
2025-Q4   NaN

In [12]:
df.to_excel('../data/result/DEU_Citation_Period.xlsx')